{{> top}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Hi, {{username}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-male fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{home.total_attendance}}</div>
                            <div>Total Attendance</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-magic fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{home.expected}}</div>
                            <div>Expected Footfall</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-crosshairs fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{home.accuracy}}</div>
                            <div>Accuracy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-rupee fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{home.extra_messing}}</div>
                            <div>Net Extra-Messing</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-sky">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-sun-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{home.breakfast}}</div>
                            <div>Breakfast Attendance</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-orange">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-circle-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{home.lunch}}</div>
                            <div>Lunch Attendance</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-purple">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa  fa-moon-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{home.dinner}}</div>
                            <div>Dinner Attendance</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <h1 class="page-header"> Predictions</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart fa-fw"></i> Predictions for all hostels
                </div>
                <div class="panel-body">
                    <div id="allhostels"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/raphael/raphael-min.js"></script>
<script src="../bower_components/morrisjs/morris.min.js"></script>
<script src="js/dependencies/sails.io.js"></script>
<script>
$(function() {
  var data=[
        {{#AllHostels}}{y: "{{period}}",a: "{{attended}}",b: "{{expected}}"},
        {{/AllHostels}}
        ];
    var graph=Morris.Line({
        element: 'allhostels',
        data: data,
        xkey: 'y',
        ykeys: ['a','b'],
        labels: ['actual','predicted'],
        hideHover: 'auto',
        resize: true,
        xLabelAngle: 30,
        yLabelAngle: 60,
        parseTime:false
    });
  io.socket.get("/admin/update",function(a,b){console.log(a,b)});
  io.socket.on("update",function(entry){
     data=entry;
    //data.pop();
    // data.push({y: entry.period,a: entry.attended,b: entry.expected});
    graph.setData(data);
  });
  io.socket.on("create",function(entry){
    data=entry;
    // data.shift();
    // data.push({y: entry.period,a: entry.attended,b: entry.expected});
    graph.setData(data);
  });
});
</script>
{{> bot}}
