<div id="page-wrapper">
   <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Change Password<a href="Users-Tables.html"></a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Current Password</label>
                                    <input type="password" class="form-control" placeholder="current password">
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" placeholder="new password">
                                </div>
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" class="form-control" placeholder="retype new password">
                                </div>
                            </form>
                        </div>
                    </div>
                    <a href="index.html"><button type="button" href="#" class="btn btn-success"><i class="fa fa-gear fa-fw"></i>Confirm Password</button></a>
                </div>
            </div>
        </div>
   </div>
</div>
