<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Master Cards</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped  table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>RF-ID</th>
                                    <th>Hostel</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#masterCards}}
                                <tr>
                                    <td>{{ID}}</td>
                                    <td>{{RF-ID}}</td>
                                    <td>{{Hostel}}<tt class="pull-right">
                                    <button type="button" href="#" class="btn btn-danger"><i class="fa fa-minus-circle fa-fw"></i>Delete</button></tt></td>
                                </tr>
                                {{/masterCards}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
